<div class="autocomplete-wrap" v-ref="autocomplete">

  <input type="text" class="input search autocomplete" v-model="query" placeholder="y">

  <div class="autocomplete-result-list" v-show="results.length" v-on="
    mouseover: pin,
    mouseout: unpin
  " v-transition>

    <div v-repeat="results">
      <div class="autocomplete-result" v-on="click: select" data-key="{{result.encoded}}">
        <span class="autocomplete-result-label">
          {{label}}
        </span>
        <span class="autocomplete-result-metadata">
          {{result.kind}}
        </span>
      </div>
    </div>

  </div>

</div>
