
// thx bootstrap
$grey-darker: lighten(#000, 13.5%)
$grey-dark: lighten(#000, 20%)
$grey: lighten(#000, 33.5%)
$grey-light: lighten(#000, 60%)
$grey-lighter: lighten(#000, 90%)

$brand-primary: #428bca
$brand-success: #5cb85c
$brand-info: #5bc0de
$brand-warning: #f0ad4e
$brand-danger: #d9534f

$link-color: $brand-primary
$link-color-hover: darken($link-color, 15%)

$heading-color: inherit

$logo-gradient-start: rgba(242,242,24,0.88) 0%
$logo-gradient-end: rgba(119,215,29,0.88) 100%

$node-fill-color: #ddd
$node-stroke-color: #ddd

$democrat-stroke-color: #1A6CAC
$republican-stroke-color: #AB1820
$contributor-stroke-color: #09B01C
