@import "var/font"
@import "var/color"
@import "core/icon"
@import "core/common"
@import "core/transition"
@import "component/map"
@import "component/modal"
@import "component/login"
@import "layout/grid"
@import "layout/header"
@import "layout/footer"

body
  background-color: $grey-dark
  background-attachment: fixed
  line-height: $line-height
  font:
    family: $font-family
    weight: $font-weight-base
    size: $font-size-base

a
  &:link, &:visited
    color: $link-color

  &:hover, &:active
    color: $link-color-hover

.main
  margin: 0 auto

.content
  padding: 10px

#default_action
  display: none