
@import "core/common"
@import "core/transition"
@import "component/map"
@import "component/modal"
@import "layout/grid"

.main
  margin: 0 auto

.content
  padding: 10px

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 9999