redis
nose
uwsgi
fabtools
fabric
google-api-python-client
msgpack-python
python-snappy
raven
fakeredis
eventlet
gevent
git+https://github.com/sgammon/libcloud.git#egg=libcloud
dogapi
hiredis
elasticsearch
