@import "var/color"
@import "mixin/transition"

#map_detail, #map_compare
  position: fixed
  bottom: 15%
  height: 70%
  width: 21%
  background-color: $grey-light
  +v-transition(width, 0%, 0.2s)

#map_detail
  left: 0

#map_compare
  right: 0
