@import "mixin/layout"
@import "core/transition"
@import "var/color"
@import "var/struct"


$node-stroke-width: 5px
$node-scale-factor: 1.6
$leaf-opacity: 0.6

#mapper
  +fillbox

#catnip
  +stretchbox

#map
  z-index: 500
  +fillbox
  +transition(opacity 0.5s ease)

#map_physics
  position: fixed
  left: 5%
  right: 5%
  bottom: 5%
  text-align: center
  background-color: $grey-dark

  label
    margin: 0.5em auto

  input
    width: 80%
    margin: 0 auto

  & > div > div
    padding-top: 20px

// Nodes/edges
svg svg, .node, .link
  cursor: pointer

.node
  fill: $node-fill-color
  stroke: $node-stroke-color
  stroke-opacity: 1
  stroke-width: $node-stroke-width
  +transition-property(stroke, stroke-width)
  +transition-duration(0.15s)
  +transition-ease(ease)

  &.selected
    stroke-width: $node-stroke-width * $node-scale-factor

.leaf, .leaf-link
  opacity: $leaf-opacity

circle
  stroke-linecap: butt
  stroke-rendering: crispEdges

  @each $type in $nodetypes
    &.#{nth($type, 1)}
      stroke: nth($type, 2)
      &.selected
        stroke: lighten(nth($type, 2), 15%)

  &.senate,
  &.corporate
    stroke-width: $node-stroke-width * $node-scale-factor
    &.selected
      stroke-width: $node-stroke-width * $node-scale-factor * $node-scale-factor

.link
  stroke-opacity: .6


@import "component/detail"
