
;
; legal: terms of service
;

-extends "layouts/static.html"
-block content:

  %h2.main-heading << Terms of service

  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. An vero, inquit, quisquam potest probare, quod perceptfum, quod. Primum Theophrasti, Strato, physicum se voluit; Quid autem habent admirationis, cum prope accesseris? Haec et tu ita posuisti, et verba vestra sunt. Duo Reges: constructio interrete. Nunc omni virtuti vitium contrario nomine opponitur.

  %p
    Quid dubitas igitur mutare principia naturae? Quid autem habent admirationis, cum prope accesseris? Ut proverbia non nulla veriora sint quam vestra dogmata. Illa videamus, quae a te de amicitia dicta sunt. Consequentia exquirere, quoad sit id, quod volumus, effectum. Quam ob rem tandem, inquit, non satisfacit? Hoc ne statuam quidem dicturam pater aiebat, si loqui posset. Ratio enim nostra consentit, pugnat oratio. An tu me de L.

  %p
    Mihi quidem Antiochum, quem audis, satis belle videris attendere. Verum hoc idem saepe faciamus. Ergo hoc quidem apparet, nos ad agendum esse natos. Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere. Eadem nunc mea adversum te oratio est. Quae quo sunt excelsiores, eo dant clariora indicia naturae. Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Summae mihi videtur inscitiae.

  %p
    Nam quid possumus facere melius? Sed quid attinet de rebus tam apertis plura requirere? An dolor longissimus quisque miserrimus, voluptatem non optabiliorem diuturnitas facit? Nescio quo modo praetervolavit oratio. Quae in controversiam veniunt, de iis, si placet, disseramus. Huius ego nunc auctoritatem sequens idem faciam. Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; Aut haec tibi, Torquate, sunt vituperanda aut patrocinium voluptatis repudiandum. Cum praesertim illa perdiscere ludus esset. Nos autem non solum beatae vitae istam esse oblectationem videmus, sed etiam levamentum miseriarum.

  %p
    Quod ea non occurrentia fingunt, vincunt Aristonem; Philosophi autem in suis lectulis plerumque moriuntur. Egone non intellego, quid sit don Graece, Latine voluptas? Illa sunt similia: hebes acies est cuipiam oculorum, corpore alius senescit; Nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; Hos contra singulos dici est melius. Ut optime, secundum naturam affectum esse possit.
