<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb fcm: http://ogp.me/ns/fb/fatcatmap#">
  <head>
    {% block head %}
    {%- block meta %}
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>{%- block title -%}fatcatmap ^.^{%- endblock title -%}</title>

    <!-- DNS prefetch -->
    <link rel="dns-prefetch" href="api.fatcatmap.org">
    <link rel="dns-prefetch" href="cloud.typography.com">
    <link rel="dns-prefetch" href="deliver.fcm-static.com">

    <!-- info -->
    <meta name="author" content="momentum labs">
    <meta name="keywords" content="politics, transparency">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock meta %}

    <!-- icons -->
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">

    <!-- stylesheets -->
    {%- block stylesheets %}
    <link rel="stylesheet" href="{{ asset.style('themes/' + (theme or 'fcm-scaffold') + '/home.css') }}" type="text/css">
    <link rel="stylesheet" href="//deliver.fcm-static.org/font-proxy/775624/css/fonts.css" type="text/css">
    {% endblock %}

    {%- if handler.agent.mobile %}
    <!-- mobile -->
    {%- block mobile %}
    <meta name="MobileOptimized" content="640">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {%- endblock -%}{%- endif %}
    <!-- north async -->
    <div id="js-async-north" style="display:none;"></div>
    {% endblock head %}
  </head>
  <body class="{{ theme|default('fcm-dark') }} alpha">

    <!-- appframe -->
    <div id="appframe">
        {% block appframe %}<h1>appframe</h1>{% endblock %}
    </div><!-- end #appframe -->

    <!-- appstage -->
    <div id="appstage" class="container-fluid">
      {% block appstage %}<h2>appstage</h2>{% endblock %}
    </div><!-- end #appstage -->

    <!-- JS -->
    <div id="js-south" style="display:none;">

      {% block south -%}
      <!-- bundle/page JS -->
      <script id="js-ext" type="text/javascript" nonce="{{ nonce.script }}" src="{{ asset.script("core/ext-bundle.min.js") }}"></script>
      <script id="js-ext" type="text/javascript" nonce="{{ nonce.script }}" src="{{ asset.script("common.min.js" if not __debug__ else "common.js") }}"></script>
      <script id="js-page" type="text/javascript" nonce="{{ nonce.script }}" src="{%- block page_js -%}{%- endblock -%}"></script>

      <!-- context -->
      <script id="js-context" type="application/json">{{ js_context|json|safe }}</script><!-- end #js-context -->

      {% if js_context.pagedata -%}<script id="js-data" type="application/json">{{ pagedata|json|safe }}</script><!-- end #js-data -->{%- endif %}
      {%- endblock south %}

    </div><!-- end #js-south -->
  </body>
</html>
