<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb fcm: http://ogp.me/ns/fb/fatcatmap#">
  <head>
    {%- block head %}
    {%- block meta %}
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <title>{%- block title -%}fatcatmap ^.^{%- endblock title -%}</title>
    {%- endblock meta %}
    {%- for item in dns_prefetch %}
    <link rel="dns-prefetch" href="{{ item }}">
    {%- endfor %}
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style/catnip.css" type="text/css">
    <link rel="stylesheet" href="//cloud.typography.com/6717292/775624/css/fonts.css" type="text/css">

    <!-- info -->
    <meta name="author" content="momentum labs">
    <meta name="keywords" content="politics, transparency, lobbying, open, government">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    {%- if getattr(handler, 'agent', {}).mobile %}
    <!-- mobile -->
    {%- block mobile %}
    <meta name="MobileOptimized" content="640">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    {%- endblock -%}{%- endif %}
    {% endblock head %}
  </head>

  <body class="{{ theme|default('fcm-dark') }} alpha">
    <!-- JS -->
    <div id="js-south" class="hidden">
      {% block south -%}
      <script type="text/javascript" nonce="{{ nonce.script }}" src="{{ asset.script("lib/d3/d3.js") }}"></script>
      <script type="text/javascript" nonce="{{ nonce.script }}" src="{{ asset.script("lib/vue/vue.js") }}"></script>

      <!-- context -->
      <script id="js-context" nonce="{{ nonce.script }}" type="application/json">{{ js_context|json|safe }}</script><!-- end #js-context -->
      {% if js_context.pagedata -%}<script id="js-data" nonce="{{ nonce.script }}" type="application/json">{{ pagedata|json|safe }}</script><!-- end #js-data -->{%- endif %}
      {% if config.assets.config.serving_mode != "cdn" -%}
        <script type="text/javascript" nonce="{{ nonce.script }}" src="{{ asset.script("compiled/app.debug.js") }}"></script>
      {%- endif %}
      {%- endblock south %}
    </div><!-- end #js-south -->
  </body>
</html>
