{% extends "core/__base.html" %}

{% block appframe %}
        <!-- header -->
        <header id='appheader'>
        </header><!-- end header -->

        <!-- footer -->
        <footer id='appfooter' class='{%- block appfooter_fade -%}transparent{%- endblock appfooter_fade -%}'>
        </footer><!-- end footer -->
        {% block frame %}{% endblock frame %}
{% endblock -%}

{% block appstage %}
    <section class="content container-fluid framepad">
        {% block content %}{% endblock %}
    </section><!-- end section.content -->
{% endblock %}
