{% extends "layouts/base.html" %}

{% block logo -%}{%- endblock %}

{% block templates %}
{% endblock templates %}

{%- block frame %}
        <!-- sidebars -->
        <section>
            <!-- leftbar -->
            <section id='leftbar' class='transparent collapsed ui-sidebar'>
                {% block left -%}
                <section class='controls'>
                    <div class='size-close'>X</div><div class='size-expand'></div><div class='size-minimize'></div>
                </section><!-- end #leftbar section.controls -->
                <section class='content'></section><!-- end #leftbar section.content -->
                {%- endblock left %}
            </section><!-- end #leftbar -->

            <!-- rightbar -->
            <section id='rightbar' class='transparent collapsed ui-sidebar'>
                {% block right -%}
                <section class='controls'>
                    <div class='size-close'>X</div><div class='size-expand'></div><div class='size-minimize'></div>
                </section><!-- end #rightbar section.controls -->
                <section class='content'></section><!-- end #rightbar section.content -->
                {%- endblock right %}
            </section><!-- end #rightbar -->
        </section>
{%- endblock frame -%}

{% block appheader %}
{% endblock appheader %}

{% block appstage %}
        <div id="stage-0" class="current stage-content">

            <!-- upper/lower thirds -->
            <section>
                <!-- upper thirds -->
                <section id='upper-thirds' class='transparent collapsed'>{%- block upper_thirds -%}{%- endblock -%}</section><!-- end #upper-thirds -->

                <!-- lower thirds -->
                <section id='lower-thirds' class='transparent collapsed'>{%- block lower_thirds -%}{%- endblock -%}</section><!-- end #lower-thirds -->
            </section>

            <!-- mapper -->
            <section id='mapper'>
                {% block mapper -%}
                {% include "partials/mappers/svg.html" with context %}
                {%- endblock mapper %}
            </section><!-- end #mapper -->

        </div><!-- end .current.stage-content -->
{% endblock %}
