{% extends "layouts/base.html" %}

{% block logo -%}<h1 id="logo">fatcatmap</h1>{%- endblock %}

{% block appheader %}
            <section id='identity'>
                <button type="button" id="logon" onclick="toggle('#signon-providers');toggle(event.target,'active')" class="transparent btn btn-success">Sign in</button>
                <div id="signon-providers" class="transparent">
                    <div id="gplus-signon">g+</div>
                    <div id="fb-signon">fb</div>
                    <div id="tw-signon">tw</div>
                    <div id="gh-signon">gh</div>
                </div><!-- end div#signon-providers -->
            </section><!-- end #identity -->
{% endblock appheader %}

{% block appstage %}
    <section>
        <!-- leftbar -->
        <section id='leftbar' class='transparent collapsed'>
            {% block left -%}
            {%- endblock left %}
        </section><!-- end #leftbar -->

        <!-- rightbar -->
        <section id='rightbar' class='transparent collapsed'>
            {% block right -%}
            {%- endblock right %}
        </section><!-- end #rightbar -->
    </section>

    <section>
        <!-- upper thirds -->
        <section id='upper-thirds' class='transparent collapsed'>
            {% block upper_thirds -%}
            {%- endblock %}
        </section>

        <!-- lower thirds -->
        <section id='lower-thirds' class='transparent collapsed'>
            {% block lower_thirds -%}
            {%- endblock %}
        </section>
    </section>

    <!-- mapper -->
    <section id='mapper'>
        {% block mapper -%}
        {% include "partials/mappers/svg.html" with context %}
        {%- endblock mapper %}
    </section><!-- end #mapper -->
{% endblock %}
