

@import (reference) "core/base.less";
@import (reference) "less/buttons.less";


/*
 *
 * Layout Elements
 *
 */

#appframe {

  // snap layout to all sides
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-rendering: geometricPrecision;

}

#appheader {

  height: @header_height;

  //snap header to top
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

}

#logo {
  z-index: 1000;
  position: absolute;
  left: @appstage_margin;
  .logo;
}

#identity {
  position: fixed;
  top: 2em;
  right: 2.5em;
  min-width: 8em;
  max-width: 20%;
  height: 3.5em;
  display: inline-block;
  margin-top: 0.67em;
  text-align: center;
}

#logon {
  outline: none !important;
  background-color: transparent;
  opacity: 0.95;
  border-color: #4cae4c;
  border-style: solid;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(119, 215, 29, 0.75);
  color: #fefefe;
  padding: .5em .9em;
  margin-top: .5em;
  transition-property: opacity;
  transition-duration: 0.2s;

  &:hover {
    color: #fff;
    border-color: rgba(119, 215, 29, 0.85);
    background: linear-gradient(@logo_slant, @logo_gradient_start, @logo_gradient_end);
  }

  &.active {
    color: #fff;
    border-color: rgba(119, 215, 29, 0.85);
    background: linear-gradient(@logo_slant, @logo_gradient_start, @logo_gradient_end);
  }
}

#signon-providers {
  background: transparent;
  top: 10px;
  position: relative;
  color: #fefefe;
  border-radius: 5px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  line-height: 2em;
  border: 2px solid #666;

  // Transitions
  transition-property: top, opacity;
  transition-duration: 0.25s;

  &.transparent {
    top: 5px;
  }

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #666;
    top: -14px;
    left: 42%;
    opacity: 0.65;
  }

  div {
    cursor: pointer;
    opacity: 0.7;
    transition-property: opacity;
    transition-duration: 0.1s;
    color: #fefefe;
  }

  div:hover {
    color: white !important;
    opacity: 0.9;
  }
}

// signon types
#gplus-signon {
  background: #DD4B39;
}

#fb-signon {
  background: #335795;
}

#tw-signon {
  background: #4099F;
}

#gh-signon {
  background: #000;
}

#appspinner {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: inline-block;
  color: white;
  width: 31px;
  height: 43px;
}

#appfooter {

  height: @footer_height;

  // snap footer to bottom
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;

  // both footer labels
  small {
    color: @footer_text_color;
    font-size: @footer_text_size;
    font-weight: @footer_text_weight;
    display: inline-block;
  }

  // animation (fade-in/fade-out)
  transition-property: opacity;
  transition-duration: 0.23s;

}

#appstage {

  // margins
  margin-top: @header_height;
  margin-bottom: @footer_height;
  margin-left: @appstage_margin;
  margin-right: @appstage_margin;

}

#map {
  transition-property: opacity;
  transition-duration: 0.2s;
}

#catnip {
  // animation (fade-in/fade-out)
  transition-property: opacity;
  transition-duration: 0.3s;
}


/*
 *
 * Accoutrements
 *
 */

// only the branch
#brand {
  position: absolute;
  left: @appstage_margin+1em;
}

// only the copyright
#copyright {
  position: absolute;
  right: @appstage_margin+1em;
}
