@import "var/font"
@import "var/color"
@import "mixin/transition"
@import "mixin/animation"

$logo-size: 3em
$logo-slant: 45deg

.hidden
  display: none

.transparent
  opacity: 0

.close, .l-close
  margin-top: 6px
  margin-bottom: 0
  line-height: 1
  color: $grey-dark
  cursor: pointer

  & > span
    font-weight: 200
    font-size: 26px

  &:hover
    color: $grey

.close
  float: right
  margin-right: 12px
  margin-left: 0

.l-close
  float: left
  margin-right: 0
  margin-left: 12px

.fcm-pre
  font-family: "fcm"
  speak: none
  text-transform: none
  text-rendering: geometricPrecision
  -webkit-font-smoothing: antialiased
  +transition-property(color, opacity)
  +transition-duration(0.3s)

  &.loading.spinner
    display: inline-block
    +animation(rotate, 0.5s linear infinite)
    font-size: 2.2em
    text-align: center
    opacity: 0.75

.fcm-logo
  z-index: 1000
  position: fixed
  text-rendering: geometricPrecision
  font-family: $font-family-heading
  font-weight: $font-weight-heading
  color: transparent
  background: linear-gradient($logo-slant, $logo-gradient-start, $logo-gradient-end)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -webkit-font-smoothing: subpixel-antialiased
