.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after {
  content: " ";
  display: table;
}
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after {
  clear: both;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Ideal Sans SSm A", "Ideal Sans SSm B", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #333333;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #333333;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0 !important;
}
/*
 *
 * Layout Elements
 *
 */
#appframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-rendering: geometricPrecision;
}
#appheader {
  height: 5.5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
#logo {
  z-index: 1000;
  position: absolute;
  left: 1em;
  font-family: "Ideal Sans A", "Ideal Sans B", sans-serif;
  font-weight: 200;
  font-size: 3em;
  color: transparent;
  background: linear-gradient(45deg, rgba(242, 242, 24, 0.88) 0%, rgba(119, 215, 29, 0.88) 100%);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#appfooter {
  height: 3em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 300;
}
#appfooter small {
  color: #dddddd;
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
}
#appstage {
  margin-top: 5.5em;
  margin-bottom: 3em;
  margin-left: 1em;
  margin-right: 1em;
}
/*
 *
 * Accoutrements
 *
 */
#brand {
  position: absolute;
  left: 2em;
}
#copyright {
  position: absolute;
  right: 2em;
}
#mapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  overflow: hidden;
}
#catnip {
  width: 100%;
  height: 100%;
}
#leftbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 20em;
  min-width: 195px;
  z-index: 900;
}
#rightbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 20em;
  min-width: 265px;
  z-index: 900;
}
.lower-thirds {
  position: absolute;
  bottom: 5em;
  left: 0;
  right: 0;
  height: 5em;
  z-index: 700;
}
.upper-thirds {
  position: absolute;
  top: 5.5em;
  left: 0;
  right: 0;
  max-height: 10em;
  min-height: 5em;
  z-index: 700;
}
circle {
  stroke-linecap: butt;
  stroke-rendering: crispEdges;
}
svg svg {
  cursor: pointer;
}
.node {
  stroke: #ddd;
  stroke-opacity: .8;
  cursor: pointer;
  stroke-width: 4px;
  fill: #ddd;
}
.link {
  stroke-opacity: .6;
  cursor: pointer;
}
.republican {
  stroke: rgba(227, 22, 77, 0.9);
}
.democrat {
  stroke: rgba(31, 120, 229, 0.9);
}
.congress {
  stroke-width: 7px;
}
.senate {
  stroke-width: 9px;
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sources%22%3A%5B%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fbutton-groups.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fmixins%2Fbuttons.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Ftype.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fmixins%2Fclearfix.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fgrid.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fforms.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fnavs.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fnavbar.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fpager.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fpanels.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fnormalize.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fscaffolding.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fmixins%2Fvendor-prefixes.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fless%2Ffcm.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fmixins%2Ftab-focus.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fthumbnails.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fbootstrap%2Fless%2Fmixins%2Fimage.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fless%2Fcore%2Fcommon.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fless%2Flayouts%2Fmapper.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fless%2Ffcm-mixins.less%22%2C%22%2F.develop%2Fmaps%2Ffatcatmap%2Fassets%2Fless%2Fcomponents%2Fmapper.less%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAoGA%2CaAAc%3BECvDZ%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CkBAAA%3B%3BADmDF%2CaAAc%3BECtDZ%2CiBAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3B%3BADkDF%2CaAAc%3BECrDZ%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CkBAAA%3B%3BAC2JF%2CcACE%2CGC%2FLC%3BAD8LH%2CcACE%2CGC9LC%3BACLH%2CUDIG%3BACJH%2CUDKG%3BACeH%2CgBDhBG%3BACgBH%2CgBDfG%3BACwBH%2CIDzBG%3BACyBH%2CIDxBG%3BAEiaH%2CgBAqBE%2CYFvbC%3BAEkaH%2CgBAqBE%2CYFtbC%3BAHwBH%2CYGzBG%3BAHyBH%2CYGxBG%3BAHoIH%2CmBAWE%2CaGhJC%3BAHqIH%2CmBAWE%2CaG%2FIC%3BAGNH%2CIHKG%3BAGLH%2CIHMG%3BAIJH%2COJGG%3BAIHH%2COJIG%3BAIgBH%2CcJjBG%3BAIiBH%2CcJhBG%3BAImCH%2CgBJpCG%3BAIoCH%2CgBJnCG%3BAKTH%2CMLQG%3BAKRH%2CMLSG%3BAMCH%2CWNFG%3BAMEH%2CWNDG%3BEACC%2CSAAS%2CGAAT%3BEACA%2CcAAA%3B%3BAD2LJ%2CcACE%2CGC1LC%3BACTH%2CUDSG%3BACWH%2CgBDXG%3BACoBH%2CIDpBG%3BAE6ZH%2CgBAqBE%2CYFlbC%3BAHoBH%2CYGpBG%3BAHgIH%2CmBAWE%2CaG3IC%3BAGVH%2CIHUG%3BAIRH%2COJQG%3BAIYH%2CcJZG%3BAI%2BBH%2CgBJ%2FBG%3BAKbH%2CMLaG%3BAMHH%2CWNGG%3BEACC%2CWAAA%3B%3BAOZJ%3BEACE%2CuBAAA%3BEACA%2C0BAAA%3BEACA%2C8BAAA%3B%3BAAOF%3BEACE%2CSAAA%3B%3BAAYF%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BAACA%3BEACE%2CcAAA%3B%3BAAQF%3BAACA%3BAACA%3BAACA%3BEACE%2CqBAAA%3BEACA%2CwBAAA%3B%3BAAQF%2CKAAK%2CIAAI%3BEACP%2CaAAA%3BEACA%2CSAAA%3B%3BAAQF%3BAACA%3BEACE%2CaAAA%3B%3BAAUF%3BEACE%2CuBAAA%3B%3BAAOF%2CCAAC%3BAACD%2CCAAC%3BEACC%2CUAAA%3B%3BAAUF%2CIAAI%3BEACF%2CyBAAA%3B%3BAAOF%3BAACA%3BEACE%2CiBAAA%3B%3BAAOF%3BEACE%2CkBAAA%3B%3BAAQF%3BEACE%2CcAAA%3BEACA%2CgBAAA%3B%3BAAOF%3BEACE%2CgBAAA%3BEACA%2CWAAA%3B%3BAAOF%3BEACE%2CcAAA%3B%3BAAOF%3BAACA%3BEACE%2CcAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CwBAAA%3B%3BAAGF%3BEACE%2CWAAA%3B%3BAAGF%3BEACE%2CeAAA%3B%3BAAUF%3BEACE%2CSAAA%3B%3BAAOF%2CGAAG%2CIAAI%3BEACL%2CgBAAA%3B%3BAAUF%3BEACE%2CgBAAA%3B%3BAAOF%3BEACE%2C4BAAA%3BEACA%2CuBAAA%3BEACA%2CSAAA%3B%3BAAOF%3BEACE%2CcAAA%3B%3BAAOF%3BAACA%3BAACA%3BAACA%3BEACE%2CiCAAA%3BEACA%2CcAAA%3B%3BAAkBF%3BAACA%3BAACA%3BAACA%3BAACA%3BEACE%2CcAAA%3BEACA%2CaAAA%3BEACA%2CSAAA%3B%3BAAOF%3BEACE%2CiBAAA%3B%3BAAUF%3BAACA%3BEACE%2CoBAAA%3B%3BAAWF%3BAACA%2CIAAK%2CMAAK%3BAACV%2CKAAK%3BAACL%2CKAAK%3BEACH%2C0BAAA%3BEACA%2CeAAA%3B%3BAAOF%2CMAAM%3BAACN%2CIAAK%2CMAAK%3BEACR%2CeAAA%3B%3BAAOF%2CMAAM%3BAACN%2CKAAK%3BEACH%2CSAAA%3BEACA%2CUAAA%3B%3BAAQF%3BEACE%2CmBAAA%3B%3BAAWF%2CKAAK%3BAACL%2CKAAK%3BEACH%2CsBAAA%3BEACA%2CUAAA%3B%3BAASF%2CKAAK%2CeAAe%3BAACpB%2CKAAK%2CeAAe%3BEAClB%2CYAAA%3B%3BAASF%2CKAAK%3BEACH%2C6BAAA%3BEACA%2C4BAAA%3BEACA%2C%2BBAAA%3BEACA%2CuBAAA%3B%3BAASF%2CKAAK%2CeAAe%3BAACpB%2CKAAK%2CeAAe%3BEAClB%2CwBAAA%3B%3BAAOF%3BEACE%2CyBAAA%3BEACA%2CaAAA%3BEACA%2C8BAAA%3B%3BAAQF%3BEACE%2CSAAA%3BEACA%2CUAAA%3B%3BAAOF%3BEACE%2CcAAA%3B%3BAAQF%3BEACE%2CiBAAA%3B%3BAAUF%3BEACE%2CyBAAA%3BEACA%2CiBAAA%3B%3BAAGF%3BAACA%3BEACE%2CUAAA%3B%3BAC5ZF%3BECgEE%2C8BAAA%3BEACG%2C2BAAA%3BEACK%2CsBAAA%3B%3BAD%2FDV%2CCAAC%3BAACD%2CCAAC%3BEC4DC%2C8BAAA%3BEACG%2C2BAAA%3BEACK%2CsBAAA%3B%3BADvDV%3BEACE%2CgBAAA%3BEACA%2C6CAAA%3B%3BAAGF%3BEACE%2CaENiB%2CoBAAoB%2C8BFMrC%3BEACA%2CeAAA%3BEACA%2CuBAAA%3BEACA%2CcAAA%3BEACA%2CyBAAA%3B%3BAAIF%3BAACA%3BAACA%3BAACA%3BEACE%2CoBAAA%3BEACA%2CkBAAA%3BEACA%2CoBAAA%3B%3BAAMF%3BEACE%2CcAAA%3BEACA%2CqBAAA%3B%3BAAEA%2CCAAC%3BAACD%2CCAAC%3BEACC%2CcAAA%3BEACA%2C0BAAA%3B%3BAAGF%2CCAAC%3BEGrDD%2CoBAAA%3BEAEA%2C0CAAA%3BEACA%2CoBAAA%3B%3BAH6DF%3BEACE%2CSAAA%3B%3BAAMF%3BEACE%2CsBAAA%3B%3BAAIF%3BAI1EA%2CUAUE%3BAAVF%2CUAWE%2CEAAE%3BECRF%2CcAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3B%3BAL0EF%3BEACE%2CkBAAA%3B%3BAAMF%3BEACE%2CYAAA%3BEACA%2CuBAAA%3BEACA%2CyBAAA%3BEACA%2CyBAAA%3BEACA%2CkBAAA%3BEC0FA%2CwCAAA%3BEACK%2CmCAAA%3BEACG%2CgCAAA%3BEIpLR%2CqBAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3B%3BAL8FF%3BEACE%2CkBAAA%3B%3BAAMF%3BEACE%2CgBAAA%3BEACA%2CmBAAA%3BEACA%2CSAAA%3BEACA%2C6BAAA%3B%3BAAQF%3BEACE%2CkBAAA%3BEACA%2CUAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CUAAA%3BEACA%2CgBAAA%3BEACA%2CMAAM%2CgBAAN%3BEACA%2CSAAA%3B%3BAAQA%2CkBAAC%3BAACD%2CkBAAC%3BEACC%2CgBAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3BEACA%2CSAAA%3BEACA%2CiBAAA%3BEACA%2CUAAA%3B%3BAM5IJ%3BEACE%2CaAAA%3B%3BAAGF%3BEACE%2CqBAAA%3B%3B%3B%3B%3B%3B%3BACDF%3BEAGE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CgBAAA%3BEACA%2CkCAAA%3B%3BAAIF%3BEAEE%2CaAAA%3BEAGA%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CaAAA%3B%3BAAIF%3BEACE%2CaAAA%3BEACA%2CkBAAA%3BEACA%2CSAAA%3BECrCA%2CaNoBoB%2CgBAAgB%2C0BMpBpC%3BEACA%2CgBAAA%3BEACA%2CcAAA%3BEACA%2CkBAAA%3BEACA%2CYAAY%2CkFAAZ%3BEACA%2CqBAAA%3BEACA%2C6BAAA%3BEACA%2CoCAAA%3B%3BADkCF%3BEAEE%2CWAAA%3BEAGA%2CkBAAA%3BEACA%2CSAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CYAAA%3B%3BAATF%2CUAYE%3BEACE%2CcAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CqBAAA%3B%3BAAKJ%3BEAGE%2CiBAAA%3BEACA%2CkBAAA%3BEACA%2CgBAAA%3BEACA%2CiBAAA%3B%3B%3B%3B%3B%3B%3BAAYF%3BEACE%2CkBAAA%3BEACA%2CSAAA%3B%3BAAIF%3BEACE%2CkBAAA%3BEACA%2CUAAA%3B%3BAErFF%3BEACE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CSAAA%3BEACA%2CYAAA%3BEACA%2CgBAAA%3B%3BAAGF%3BEACE%2CWAAA%3BEACA%2CYAAA%3B%3BAAMF%3BEACE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2COAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3B%3BAAOF%3BEACE%2CkBAAA%3BEACA%2CMAAA%3BEACA%2CQAAA%3BEACA%2CSAAA%3BEACA%2CeAAA%3BEACA%2CgBAAA%3BEACA%2CYAAA%3B%3BAAUF%3BEACE%2CkBAAA%3BEACA%2CWAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CWAAA%3BEACA%2CYAAA%3B%3BAAOF%3BEACE%2CkBAAA%3BEACA%2CUAAA%3BEACA%2COAAA%3BEACA%2CQAAA%3BEACA%2CgBAAA%3BEACA%2CeAAA%3BEACA%2CYAAA%3B%3BAASF%3BEACE%2CoBAAA%3BEACA%2C4BAAA%3B%3BAAGF%2CGAAI%3BEACF%2CeAAA%3B%3BAAGF%3BEACE%2CYAAA%3BEACA%2CkBAAA%3BEACA%2CeAAA%3BEACA%2CiBAAA%3BEACA%2CUAAA%3B%3BAAGF%3BEACE%2CkBAAA%3BEACA%2CeAAA%3B%3BAAGF%3BEACE%2C8BAAA%3B%3BAAGF%3BEACE%2C%2BBAAA%3B%3BAAGF%3BEACE%2CiBAAA%3B%3BAAGF%3BEACE%2CiBAAA%22%7D */