
;
; landing :)
;

%html

  %head
    %title << Hello, fatcatmap! ^.^
    %link rel="stylesheet" href="[[ asset.style('sample.css') ]]"

  %body

    %b 
      [[ message ]]

    %p 
      paragraph action

      multiple lines

      cool stuff
