<section id="mapper" v-ref="map">
  <svg id="catnip" class="svg mapper viewport" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
      <defs>
          <filter id="blur-3p"><feGaussianBlur stdDeviation="3"/></filter>
          <filter id="blur-5p"><feGaussianBlur stdDeviation="5"/></filter>
          <filter id="blur-8p"><feGaussianBlur stdDeviation="8"/></filter>
          <clipPath id="node-circle-mask" clipPathUnits="userSpaceOnUse"><circle r="20" cx="30" cy="30"></circle></clipPath>
      </defs>

      <svg id="map" class="transparent" v-on="
        click : select,
        dblclick: browseTo,
        dragstart: startDrag,
        dragend: endDrag
      "></svg>
  </svg>

  <section v-component="detail" v-if="map.detail"></section>
  <section v-component="compare" v-if="map.compare"></section>
</section>
