<section id="mapper" v-ref="map">
  <svg id="catnip" class="svg mapper viewport" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink= "http://www.w3.org/1999/xlink">
      <defs>
          <filter id="blur-3p"><feGaussianBlur stdDeviation="3"/></filter>
          <filter id="blur-5p"><feGaussianBlur stdDeviation="5"/></filter>
          <filter id="blur-8p"><feGaussianBlur stdDeviation="8"/></filter>
          <clipPath id="node-circle-mask" clipPathUnits="userSpaceOnUse"><circle r="20" cx="30" cy="30"></circle></clipPath>
      </defs>

      <svg id="map" class="transparent" v-on="
        click : viewDetail,
        dragstart: startDrag,
        dragend: endDrag
      "></svg>
  </svg>

  <section v-component="detail"></section>
</section>

<section id="map_physics" class="hidden">
  <div class="gridrow-stretch">

      <div class="col1">
        <label for="distance_slider">link distance: {{config.force.distance}}</label>
        <input id="distance_slider" type="range" v-model="config.force.distance" min="0" max="300" step="1"></input>
      </div>

      <div class="col1">
        <label for="strength_slider">link strength: {{config.force.strength}}</label>
        <input id="strength_slider" type="range" v-model="config.force.strength" min="0" max="1" step=".1"></input>
      </div>

      <div class="col1">
        <label for="friction_slider">friction: {{config.force.friction}}</label>
        <input id="friction_slider" type="range" v-model="config.force.friction" min="0" max="1" step=".1"></input>
      </div>

      <div class="col1">
        <label for="gravity_slider">gravity: {{config.force.gravity}}</label>
        <input id="gravity_slider" type="range" v-model="config.force.gravity" min="0" max="1" step=".01"></input>
      </div>

      <div class="col1">
        <label for="charge_slider">charge: {{config.force.charge}}</label>
        <input id="charge_slider" type="range" v-model="config.force.charge" min="-10000" max="10000" step="10"></input>
      </div>

      <div class="col1">
        <label for="chargeDistance_slider">charge distance: {{config.force.chargeDistance}}</label>
        <input id="chargeDistance_slider" type="range" v-model="config.force.chargeDistance" min="0" max="10000" step="10"></input>
      </div>

      <div class="col1">
        <label for="theta_slider">theta: {{config.force.theta}}</label>
        <input id="theta_slider" type="range" v-model="config.force.theta" min="0" max="10" step="0.1"></input>
      </div>

      <div class="col1">
        <label for="alpha_slider">alpha: {{config.force.alpha}}</label>
        <input id="alpha_slider" type="range" v-model="config.force.alpha" min="-1" max="1" step="0.1"></input>
      </div>

    </div>

  </div>
</section>
